@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using MvcCoreProyectoSejo.Extensions
@{
    var currentUser = HttpContextAccessor.HttpContext.Session.GetObject<Usuario>("CurrentUser");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MvcCoreProyectoSejo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MvcCoreProyectoSejo.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-black border-bottom box-shadow mb-3">
            <div class="container-fluid">
                @if (currentUser != null)
                {
                    <a class="navbar-brand mr-auto" asp-route-iduser="@currentUser.UsuarioID" asp-controller="Eventos" asp-action="Index">
                        <img src="~/img/logo.png" style="width:15%" />
                    </a>
                }
                else
                {
                    <a class="navbar-brand mr-auto" asp-area="" asp-controller="Eventos" asp-action="Index">
                        <img src="~/img/logo.png" style="width:15%"/>
                    </a>
                }

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                    <ul class="navbar-nav">
                        @{

                            if (currentUser != null)
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        @currentUser.NombreUsuario
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item" href="@Url.Action("Details", "Usuarios", new { iduser = currentUser.UsuarioID })">Mi perfil</a></li>
                                        <li><a class="dropdown-item" href="@Url.Action("VerEntradas", "Entradas", new { iduser = currentUser.UsuarioID })">Mis Entradas</a></li>
                                        <li><a class="dropdown-item" href="@Url.Action("Logout", "Usuarios")">Cerrar sesión</a></li>
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Iniciar o Registrarse
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Usuarios" asp-action="Registro">Registro</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Usuarios" asp-action="Login">Login</a></li>
                                    </ul>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - MvcCoreProyectoSejo - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>