@model MvcCoreProyectoSejo.Models.EventoDetalles

@{
    ViewData["Title"] = "Detalles del Evento";
    var usuario = Context.Session.GetObject<Usuario>("CurrentUser");
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card shadow">
                <img src="@HelperPathProvider.MapUrlPath(Model.Imagen, Folders.Eventos)" class="card-img-top img-fluid" alt="Imagen del Evento">
                <div class="card-body">
                    <h2 class="card-title">@Model.NombreEvento</h2>
                    <p class="card-text">@Model.Descripcion</p>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card mt-3 shadow">
                <div class="card-body">
                    <h5 class="card-title">Detalles del Evento</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>ID:</strong> @Model.Id</li>
                        <li class="list-group-item"><strong>Tipo de Evento:</strong> @Model.TipoEvento</li>
                        <li class="list-group-item"><strong>Fecha:</strong> @Model.Fecha.ToShortDateString()</li>
                        <li class="list-group-item"><strong>Ubicación:</strong> @Model.Ubicacion</li>
                        <li class="list-group-item"><strong>Provincia:</strong> @Model.Provincia</li>
                        <li class="list-group-item"><strong>Aforo:</strong> @Model.Aforo</li>
                        <li class="list-group-item"><strong>Precio:</strong> @Model.Precio €</li>
                        <li class="list-group-item"><strong>Recinto:</strong> @Model.Recinto</li>
                        <li class="list-group-item"><strong>Mayor de 18:</strong> @Model.MayorDe18</li>
                        <li class="list-group-item"><strong>Link Maps Provincia:</strong> @Model.LinkMapsProvincia</li>
                    </ul>
                </div>
            </div>
            <div class="mt-3">
                <h5>Artistas Participantes</h5>
                <ul class="list-group">
                    @if (usuario != null && usuario.UsuarioID == Model.RecintoId)
                    {
                        <a asp-controller="ArtistasEvento" asp-action="AddArtistaToEvento" asp-route-idevento="@Model.Id" class="btn btn-outline-secondary">Añadir Artista</a>
                    }
                    @foreach (var artista in (List<ArtistaDetalles>)ViewData["Artistas"])
                    {
                        <a asp-controller="Usuarios" asp-action="Details" asp-route-iduser="@artista.UsuarioID">
                        <li class="list-group-item">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <img src="@HelperPathProvider.MapUrlPath(artista.FotoPerfil, Folders.Usuarios)" style="width:25px; height: 25px" class="rounded-circle artist-img" alt="Foto del Artista" />
                                    <span class="ml-2">@artista.NombreUsuario</span>
                                </div>
                                <div>
                                </div>
                            </div>
                        </li>
                        </a>
                    }
                </ul>
            </div>
            <div class="mt-3">
                @if (usuario == null)
                {
                    <button disabled class="btn btn-danger btn-block">Inicia sesión para comprar entradas</button>

                }
                else if (Model.Aforo > Model.EntradasVendidas)
                {

                    <a asp-action="Comprar" asp-route-idevento="@Model.Id" class="btn btn-success">Comprar Entradas</a>
                }
                else
                {
                    <button disabled class="btn btn-danger btn-block">AGOTADO</button>
                }

            </div>
        </div>
    </div>
</div>
