@model MvcCoreProyectoSejo.Models.EventoDetalles

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h1 class="mt-3">Details</h1>

    <div class="card mt-4">
        <div class="card-body">
            <h4 class="card-title">Evento Detalles</h4>
            <hr />

            <dl class="row">
                <dt class="col-sm-2">ID:</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Id)</dd>

                <dt class="col-sm-2">Nombre del Evento:</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.NombreEvento)</dd>

                <dt class="col-sm-2">Tipo de Evento:</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.TipoEvento)</dd>

                <dt class="col-sm-2">Fecha:</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Fecha)</dd>

                <dt class="col-sm-2">Hora:</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Hora)</dd>

                <dt class="col-sm-2">Ubicación:</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Ubicacion)</dd>

                <dt class="col-sm-2">Provincia:</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Provincia)</dd>

                <dt class="col-sm-2">Aforo:</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Aforo)</dd>

                <dt class="col-sm-2">Imagen:</dt>
                <dd class="col-sm-10">
                    <img style="width: 20%;" src="@HelperPathProvider.MapUrlPath(Model.Imagen, Folders.Eventos)" alt="Evento Image" />
                </dd>

                <dt class="col-sm-2">Recinto:</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Recinto)</dd>

                <dt class="col-sm-2">Mayor de 18:</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.MayorDe18)</dd>

                <dt class="col-sm-2">Descripción:</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Descripcion)</dd>

                <dt class="col-sm-2">Precio:</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Precio)</dd>

                <dt class="col-sm-2">Link Maps Provincia:</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.LinkMapsProvincia)</dd>
            </dl>
        </div>
    </div>

    <div class="mt-3">
        <h4>Artistas:</h4>
        <ul>
            @foreach (var artista in ViewData["Artistas"] as List<ArtistaDetalles>)
            {
                <li>
                    <a asp-controller="Usuarios" asp-action="Details" asp-route-iduser="@artista.UsuarioID">@artista.NombreUsuario</a>
                </li>
            }
        </ul>
    </div>

    <div class="mt-3">
        <a asp-action="Edit" class="btn btn-primary">Edit</a>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>
