@model MvcCoreProyectoSejo.Models.EventoDetalles

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EventoDetalles</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreEvento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreEvento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoEvento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoEvento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ubicacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ubicacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Provincia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Provincia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aforo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aforo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imagen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Recinto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Recinto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MayorDe18)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MayorDe18)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LinkMapsProvincia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LinkMapsProvincia)
        </dd>
    </dl>

    @foreach (var artista in ViewData["Artistas"] as List<UsuarioDetalles>)
    {
        <li>
            <a asp-controller="Eventos" asp-action="DetalleUsers" asp-route-iduser="@artista.UsuarioID">@artista.NombreUsuario</a>
        </li>
    }
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
